<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Gherkin sens test" configfailurepolicy="continue">
    <parameter name="browserType" value="chrome"/> <!-- Please use chrome or firefox browser -->
    <test name="test name" annotations="JDK">
        <classes>
            <class name="TestRunner"/>
        </classes>
    </test>
</suite>